.search-container {
  background-color: white;
}

.travel-highlights-container {
  position: relative;
  z-index: 1;
}
.travel-highlights-container::after {
  content: "";
  background-image: url("../../public/pexels-uiliamnornberg-20780644.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}
